{% extends "base.html" %}
{% block content %}
<h1>{{ review.title }}</h1>
{% if rating.rating__avg < 0.5 %}
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 1.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 2.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 3.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 4.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% else %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  ({{ rating.rating__avg }})
{% endif %}
<p>{{ review.description }}</p>
<p>{% if review.image_file %}<img src="{{ review.image_file.url }}" />{% endif %}</p>
<p>Submitted by <a href="{% url 'user_detail' slug=review.user.username %}">{{ review.user.username }}</a> on {{review.created_at }}</p>
{% if review.user == user %}
<p><a href="{% url 'review_update' pk=review.id %}">Edit Review</a></p>
<p><a href="{% url 'review_delete' pk=review.id %}">Delete Review</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Comment{{ comments.count|pluralize }}:</h3>
{% endif %}
{% for comment in comments %}
<div class="panel">
  <p>{{ comment.text }}</p>
  {% if comment.user == user %}
  <p><a href="{% url 'comment_update' review_pk=review.id comment_pk=comment.id %}">Edit Comment</a></p>
  <p><a href="{% url 'comment_delete' review_pk=review.id comment_pk=comment.id %}">Delete Comment</a></p>
  {% endif %}
  <p>Commented by <a href="{% url 'user_detail' slug=comment.user.username %}">{{ comment.user.username }}</a> on {{comment.created_at }} ({{ comment.vote_set.all.count }} Vote{{ comment.vote_set.all.count|pluralize }})</p>
  <form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ commment.vote_set.all.count }} Vote{{  comment.vote_set.all.count|pluralize }}</span>
    {% csrf_token %}
    <input type="hidden" name="comment" value="{{ comment.id }}" />
    <input type="hidden" name="review" value="{{ review.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    {% if comment in user_votes %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
    {% else %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
    {% endif %}
  </form>
</div>
{% endfor %}
<p><a href="{% url 'comment_create' pk=review.id %}">Add Comment</a></p>
{% endblock %}