{% extends "base.html" %}
{% block content %}
<h1>{{ review.title }}</h1>
<p>{{ review.description }}</p>
<p>Submitted by {{ review.user.username }} on {{review.created_at }}</p>
{% if review.user == user %}
<p><a href="{% url 'review_update' pk=review.id %}">Edit Review</a></p>
<p><a href="{% url 'review_delete' pk=review.id %}">Delete Review</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Comment{{ comments.count|pluralize }}:</h3>
{% endif %}
{% for comment in comments %}
<div class="panel">
  <p>{{ comment.text }}</p>
  <p>Commented by {{ comment.user.username }} on {{ comment.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'comment_create' pk=review.id %}">Add Comment</a></p>
{% endblock %}