{% extends "base.html" %}
{% block content %}
{% for review in object_list %}
<div class="panel">
  <h3><a href="{{ review.get_absolute_url }}">{{ review.title }}</a></h3>
  <p>Submitted by <a href="{% url 'user_detail' slug=review.user.username %}">{{ review.user.username }}</a> on {{review.created_at }}</p>
  <p>{{ review.vote_set.all.count }} Vote{{ review.vote_set.all.count|pluralize }}</p>
  <form method="post" action="{% url 'vote' %}">
    {% csrf_token %}
    <input type="hidden" name="review" value="{{ review.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    <button>+</button>
  </form>
</div>
{% empty %}
<p>No Results Found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}